{% extends 'home.html' %}
{% block content %}
    <div class="col-md-6 container card card-header">
        {% load rest_framework %}

            <h3>Update {{ query.name }} Info</h3>

            <form class="form-horizontal" method="POST" novalidate>
                    {% csrf_token %}
                    {% render_form serializer %}
                    <center >
                        <input type="submit" value="UPDATE">
                    </center>
            </form>
    </div>
{% endblock %}