{% extends 'home.html' %}
{% block content %}

<div class=" btn btn-info ">
     <a href= "{% url 'restapiapp:create' %}">Add New Record</a>
</div><br>
<br>
<table class="table table-striped table-bordered table-sm container ">
    <thead class="thead-dark">
    <tr>
        <th>Employee UserID</th>
        <th>Employee Name</th>
        <th>Employee Contact</th>
         <th>Employee EmailID</th>
        <th>Employee Aadhar No</th>
        <th>Employee Address</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
{% for data in dataset %}
    <tr>
        <td>{{ data.user_id }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.contact }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.aadharno }}</td>
        <td>{{ data.address }}</td>

        <td>
            <a href="update/{{ data.id }}"><span class="glyphicon glyphicon-pencil" >Update </span></a>
        </td>

    </tr>
{% endfor %}
    </tbody>
</table>
<br>
<br>
{% endblock %}