{% extends 'signin.html' %}
{% block content %}
<br>
    <div class="col-md-6 container card card-header">
        {% load rest_framework %}
            <h3>Create New Record</h3>
            <form class="form-horizontal" method="POST" novalidate>
                    {% csrf_token %}
                    {% render_form serializer %}
                    <center >
                        <input type="submit" value="CREATE">
                    </center>
            </form>
    </div>
{% endblock %}
